#red{
    color:red;
    font-weight:normal;
}
#blue{
    color:blue;
    font-weight:bold;
}
#orange{
    color:orange;
    font-weight:bolder;
}
#yellow{
    color:yellow;
    font-weight:bold;
}
#green{
    color:green;
    font-weight:normal;
}